{% extends "base.html" %}

{% block head %}
{% set page_title = "Upload a File" %}
{% set page_description = "Quickly and securely upload and share end-to-end-encrypted files with other people" %}
{% endblock %}

{% block content %}
<div class="max-w-lg sm:shadow-md bg-zinc-100 sm:rounded-xl flex flex-col gap-8 sm:p-8 mx-auto">
  <h2 class="flex gap-4 text-2xl self-center">
    <span class="matsym big" aria-hidden="true">upload_file</span>
    Upload new file
  </h2>
  <ul class="flex flex-col gap-4">
    <li class="flex items-center gap-4">
      <span class="matsym text-zinc-500" aria-hidden="true">clock_loader_90</span>
      <span>
        Files up to {{ max_filesize }} supported
      </span>
    </li>
    <li class="flex items-center gap-4">
      <span class="matsym text-zinc-500" aria-hidden="true">lock</span>
      <span class="text-balance">
        File and filename are encrypted in your browser before being sent over the network
      </span>
    </li>
    <li class="flex items-center gap-4">
      <span class="matsym text-zinc-500" aria-hidden="true">visibility_off</span>
      <span>
        The server cannot view or decrypt your data
      </span>
    </li>
    <li class="flex items-center gap-4">
      <span class="matsym text-zinc-500" aria-hidden="true">key</span>
      <div class="flex flex-col">
        <span>
          The decryption key is stored in the download link's
            <a href="https://en.wikipedia.org/wiki/URI_fragment" class="classic-link">fragment</a> which is never sent over the network
        </span>
      </div>
    </li>
  </ul>
  <form id="filesubmit" class="hidden flex-col gap-8">
    <input class="hidden" type="file" id="fs-file">
    <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-2">
        <label for="fs-token" class="text-zinc-600">Upload Token</label>
        <input type="text" id="fs-token" class="px-4 py-2 border-2 border-zinc-300 rounded font-mono text-sm" placeholder="Enter your upload token" required>
        <p class="text-xs text-zinc-600">You need a valid upload token to upload files. Contact the administrator if you don't have one.</p>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <button type="button" id="fs-filebutton" class="btn-primary">
        <span class="matsym" aria-hidden="true">folder_open</span>
        <span>Select a File</span>
      </button>
      <p class="text-center text-sm text-zinc-600">
        You can also drag-and-drop a file onto the page.
      </p>
    </div>
    <div id="filesubmit-details" class="hidden flex-col gap-8">
      <ul class="flex flex-col gap-4">
        <li class="flex items-center gap-4">
          <span class="matsym text-zinc-500" aria-hidden="true">draft</span>
          <div class="flex flex-col">
            <span class="text-zinc-600">Filename</span>
            <span id="fs-filename" class="text-xl font-system [word-break:break-word]"></span>
          </div>
        </li>
        <li class="flex items-center gap-4">
          <span class="matsym text-zinc-500" aria-hidden="true">clock_loader_90</span>
          <div class="flex flex-col">
            <span class="text-zinc-600">Size</span>
            <span id="fs-filesize" class="text-xl"></span>
          </div>
        </li>
      </ul>
      <fieldset id="fs-expiry-fieldset">
        <legend class="text-zinc-600 mb-1">Expires in</legend>
        <div class="flex flex-col sm:flex-row gap-2 sm:gap-4 items-stretch">
          <label class="radio-fieldset-option">
            <input type="radio" name="expires" value="hour" class="">
            <span class="mx-auto">1 hour</span>
          </label>
          <label class="radio-fieldset-option">
            <input type="radio" name="expires" value="day" checked class="">
            <span class="mx-auto">1 day</span>
          </label>
          <label class="radio-fieldset-option">
            <input type="radio" name="expires" value="week" class="">
            <span class="mx-auto">1 week</span>
          </label>
        </div>
      </fieldset>
      <button type="submit" id="fs-submit" class="btn-primary">
        <span class="flex justify-center items-center gap-4">
          <span class="matsym" aria-hidden="true">upload_file</span> Encrypt and Upload
        </span>
      </button>
    </div>
  </form>
  <div id="infobox" class="hidden flex-col rounded-lg shadow-md border-2 overflow-hidden p-4 gap-4">
    <div class="flex flex-row items-center gap-4">
      <span class="matsym big" id="infobox-icon" aria-hidden="true"></span>
      <div class="flex-1 flex flex-col items-stretch justify-center gap-2">
        <h3 id="infobox-text" class="text-lg font-bold"></h3>
        <div id="infobox-pbar-outer" class="hidden min-h-2 bg-sky-200 rounded-full">
          <div id="infobox-pbar-inner" class="mr-auto bg-sky-500 rounded-full transition-width duration-500 ease-out"
            style="width: 0%;"></div>
        </div>
      </div>
    </div>
    <div id="fs-success-download-box"
      class="hidden flex-col items-stretch bg-zinc-100 p-2 gap-2 rounded-lg shadow-md border-2 border-zinc-300">
      <h4 class="center font-bold sm:text-xl py-2 flex items-center justify-center gap-2 sm:gap-4">
        <span class="matsym" aria-hidden="true">public</span>
        <span>
          Public Download Link
        </span>
      </h4>
      <input id="fs-success-download-input" aria-label="public download link" class="self-stretch text-sm p-2 rounded-md shadow-inner" readonly>
      <div class="flex flex-col sm:flex-row justify-center gap-4 py-2">
        <a id="fs-success-download-link" target="_blank" class="btn-secondary">
          <span class="matsym" aria-hidden="true">open_in_new</span>
          <span>Open</span>
        </a>
        <button id="fs-success-download-copy" type="button" class="btn-secondary">
          <span class="matsym" aria-hidden="true">content_paste</span>
          <span>Copy to Clipboard</span>
        </button>
      </div>
    </div>
    <div id="fs-success-admin-box"
      class="hidden flex-col items-stretch bg-zinc-100 p-2 gap-2 rounded-lg shadow-md border-2 border-zinc-300">
      <h4 class="center font-bold sm:text-xl py-2 flex items-center justify-center gap-2 sm:gap-4">
        <span class="matsym" aria-hidden="true">security</span>
        <span>
          Administration Link
        </span>
      </h4>
      <input id="fs-success-admin-input" aria-label="administration link" class="self-stretch text-sm p-2 rounded-md shadow-inner" readonly>
      <div class="flex flex-col sm:flex-row justify-center gap-4 py-2">
        <a id="fs-success-admin-link" target="_blank" class="btn-secondary">
          <span class="matsym" aria-hidden="true">open_in_new</span>
          <span>Open</span>
        </a>
        <button id="fs-success-admin-copy" type="button" class="btn-secondary">
          <span class="matsym" aria-hidden="true">content_paste</span>
          <span>Copy to Clipboard</span>
        </button>
      </div>
    </div>
  </div>
  <noscript>
    <div class="flex max-w-lg mx-auto flex-col gap-4 p-4 sm:p-8 rounded-xl bg-amber-50 text-amber-700 border-2 border-amber-500 shadow-lg">
      <div class="flex items-center gap-4">
        <span class="matsym bigger" aria-hidden="true">code</span>
        <h3 class="text-lg font-bold">JavaScript Required</h3>
      </div>
      <p>
        Encrypting your file before it is sent to the server is only possible when JavaScript is enabled.
      </p>
      <p>
        Please enable JavaScript in your browser or use a JavaScript-capable browser. Thank you!
      </p>
    </div>
  </noscript>
</div>
<script>
  {% include "common.js" %}

  let max_filesize = {{raw_max_filesize | safe }};

  {% include "upload.js" %}
</script>
{% endblock %}
